* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  user-select: none;
}

body {
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  animation: fade 1s ease;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#lock {
  position: fixed;
  left: 50%;
  margin-left: -225px;
  background-color: #fff;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, .2);
  padding: 25px;
  text-align: center;
  width: 450px;
  border-left: 15px solid #1A73E9;
  visibility: hidden;
  animation: fade 1s ease;
}

#lock h1 {
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0 0 10px 0;
}

#lock p {
  letter-spacing: 1px;
  margin: 10px 0 0 0;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
}

.container {
  width: 412px;
  height: 718px;
  box-shadow: 4px 8px 18px rgba(0, 0, 0, .2);
  background-color: #fff;
  position: absolute;
  visibility: visible;
}

header {
  width: 100%;
  height: 30px;
  padding: 16px 0 30px 20px;
  position: relative;
}

.bar-container {
  cursor: pointer;
  height: 25px;
  width: 25px;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 15px;
  transition: background-color .4s ease-in;
}

.bar-container:hover {
  background-color: rgba(0, 0, 0, .2);
}

.bar-container div {
  width: 4.5px;
  height: 4.5px;
  margin: 2px 0;
  border-radius: 50%;
  background-color: #777;
}

.popup {
  position: absolute;
  top: 15px;
  right: 15px;
  box-shadow: 2px 8px 16px rgba(0, 0, 0, .3);
  width: 0;
  height: 0;
  z-index: 10;
  background-color: #fff;
  transform: scale(0);
  transition: .3s ease;
}

.popupOpen {
  transform: scale(1);
  width: 200px;
  height: 150px;
}

ul {
  list-style-type: none;
}

.popup ul li {
  cursor: pointer;
  padding: 15px;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 400;
  color: #000;
  transition: background-color .4s ease-in;
}

.popup ul li:hover {
  background-color: #ccc;
}

a {
  text-decoration: none;
}

.overlayModal {
  background-color: rgba(0, 0, 0, .6);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
}

#modal-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

#modal-container .modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 1);
  width: 380px;
  box-shadow: 2px 8px 18px rgba(0, 0, 0, .5);
  padding: 25px;
  padding-bottom: 5px;
  z-index: 10;
}

.modal h2 {
  font-size: 22px;
  letter-spacing: 1px;
  font-weight: 450;
  color: rgba(1, 1, 1, .9);
}

.modal form .input-group {
  cursor: pointer;
  display: block;
  margin: 0;
  padding: 15px 0;
  transition: background-color .4s ease-in;
}

.modal form .input-group:hover {
  background-color: #ccc;
}

.modal form .input-group input {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

.modal .confirm {
  float: right;
  display: flex;
}

.modal .confirm a {
  cursor: pointer;
  color: #1A73E9;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 15px 25px;
}

.modal .confirm a:hover {
  background-color: #ddd;
}

.container form {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.container form::before {
  content: "";
  position: absolute;
  top: var(--beforeTop, 100%);
  left: var(--beforeLeft, 100%);
  right: 0;
  bottom: 0;
  background-color: #eee;
  transform: var(--beforeTransform, scale(0));
  border-radius: 50% 25% 0 50%;
  transition: all .3s ease;
}

.container form input {
  height: 100px;
  width: 100%;
  padding: 0 25px;
  font-size: 60px;
  font-weight: 480;
  border: none;
  outline: none;
  color: #444;
  letter-spacing: 1px;
  transition: all .5s ease;
}

.display {
  font-size: 40px !important;
  text-overflow: ellipsis;
  direction: rtl;
  text-align: left;
}

.container form input:nth-child(2) {
  font-size: 50px;
  color: #777;
  font-weight: 450;
  padding: 0 20px;
  text-align: right;
}

.scientific {
  background-color: #1A73E9;
  width: 100%;
  height: 160px;
}

.scientific-row .col {
  color: #ffffff;
}

.scientific-row .col:hover,
.darkMode .col:hover,
.darkMode .bar-container:hover {
  background-color: rgba(255, 255, 255, .2);
}

.row {
  width: 100%;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.col {
  float: left;
  width: 20%;
  height: 80px;
  border: none;
  outline: none;
  padding: 15px;
  font-size: 26px;
  font-weight: 400;
  text-align: center;
  position: relative;
  background-color: transparent;
  border-radius: 50%;
  transition: .4s ease-in;
}

.col:hover {
  background-color: rgba(0, 0, 0, .1);
}

.col::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
}

.col:active::before {
  animation: animatedNormal .5s ease;
}

@keyframes animatedNormal {

  0% {
    background-color: rgba(1, 1, 1, .3);
    transform: scale(1);
  }

  100% {
    background-color: transparent;
    transform: scale(0);
  }
}

.scientific-row .col:active::before,
.darkMode .row .col:active::before {
  animation: animatedScientific .4s ease;
}

@keyframes animatedScientific {

  0% {
    background-color: rgba(255, 255, 255, .5);
    transform: scale(1);
  }

  100% {
    background-color: transparent;
    transform: scale(0);
  }
}

.normal {
  background-color: #fff;
}

.row .col:nth-child(4),
.row .col:nth-child(5) {
  color: #1A73E9;
}

.row:nth-child(1) .col:nth-child(4),
.row:nth-child(1) .col:nth-child(5),
.row:nth-child(4) .col:nth-child(4) {
  font-size: 22px;
}

/* Dark theme */
.darkMode {
  background-color: #233;
}

.darkMode #lock {
  background-color: #233;
  color: #fff;
  border-left: 15px solid #fff;
}

.darkMode .bar-container div {
  background-color: #bbc;
}

.darkMode .container header .popup,
.darkMode #modal-container .modal,
.darkMode #modal-container h2 {
  background-color: #333;
  color: #ccc;
}

.darkMode .popup ul li,
.darkMode .popup ul a {
  color: #fff;
}

.darkMode .popup ul li:hover,
.darkMode #modal-container .modal form .input-group:hover {
  background-color: #566;
}

.darkMode #modal-container .modal .confirm a {
  color: #ccc;
}

.darkMode #modal-container .modal .confirm a:hover {
  background-color: #566;
  color: #fff;
}

.darkMode .container,
.darkMode .container form input,
.darkMode .container .normal {
  background-color: #202125;
}

.darkMode .container form::before {
  background-color: #555;
}

.darkMode .container form input,
.darkMode .container .normal button {
  color: #EDEEF2;
}

.darkMode .scientific {
  background-color: #233;
}

.darkMode .row .col:nth-child(4),
.darkMode .row .col:nth-child(5) {
  color: #9aa;
}

@media (max-width: 450px) {
  .container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
  }
}

@media screen and (max-height: 718px) {
  #lock {
    visibility: visible;
  }

  .container {
    visibility: hidden;
  }
}
